body{
	background-color: #999;
	display: block;
	font-family: Raleway	
}

.grid> div{
	border:solid 1px black;
	background-color: blue;
    border-radius: 1em;


}
.grid{
    
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr ; 
	grid-template-rows: 2fr 1fr 2fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
   
}
.children{
	grid-column-start: 1;
	grid-row-start: 1;
	grid-row-end: span 2;
	
	
}

.children2{
	grid-column-start: 2;
	grid-row-start:1;
    
}

.children3{
	grid-column-start: 3;
	grid-row-start: 1;
	grid-row-end: span 2;
}

.children4{
	grid-column-start: 4;
	grid-row-start: 1;
}
.children5{
	grid-column-start:  2;
	grid-row-start: 2;
}
.children6{
	grid-column-start: 4;
	grid-row-start: 2;
}

.activiteimage{   
    height: 80%;  
}
.test{
    height: 100%;
    width: 100%;
    
    object-fit:cover ;
    border-radius: 1em;
    
}

.titreactivite{
    margin-top: 5%;
}


