
.entete {
    display: flex;              /* Transformation en flexbox */      
}
nav{
    
    padding-left: 50%;
}

.menu{
    display: flex;              /* Transformation en flexbox */
    justify-content: flex-end;   /* Alignements des liens dans le menu */
}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
}

.menu li a{
	width: 10em;
	display:block;                
}

.menu a:hover { /* survo des liens*/

    color: #0065FC;
    
}
/*------------------- Section Hebergement et populaire------------------*/


body{
	
	display: block;
	font-family: Raleway;
	margin-left:5%;
		
}



.rubrique, .plus {
	text-align: left;
	width: 100%
}
.contenaire{
	display:flex;
	flex-wrap:wrap;
	flex-direction: row;
	justify-content: space-around;
}

.hebergement{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	background-color: #F2F2F2;
	width: 60%;
	height: 70%;
	border-radius: 1em 1em 1em 1em;
	border-color: black;

}
.marseille{
	padding:0% 1%;
	background-color: white;
	height: 30%;
	width: 27.5%;
	margin-bottom: 3%;

	border-radius: 1em 1em 1em 1em;
	box-shadow:  8px 8px 6px #F2F2F2;
	

}
.photo{
	height: 40%;
	width: 100%;
	border-radius: 1em 1em 0em 0em;
	margin-top: -.5em;
}
.bloc-ecriture{
	margin-top: -1em;
}
.bloc-ecriture p{
	margin-top: -1em;
}
.etoile{
	margin-top: -.5em;
	padding-bottom: 1em;
}
.fas{
	color: blue;
	font-size:15px;

}


.populaire{
	background-color: #F2F2F2;
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;	
	width: 33%;
	height: 85%;
	border-radius: 1em 1em 1em 1em;
	margin-bottom: 1em;


}
.pop{
	padding:0% 1%;
	background-color: white;
	height: 70%;
	margin-bottom: 10%;
	margin-left: 1em;
	margin-right: 1em;
	border-radius: 1em 1em 1em 1em;
	box-shadow:  8px 8px 6px #F2F2F2;

}
.photopop{
	height: 90%;
	width: 58%;
	float:left;
	margin-bottom: 1em;
	margin-right: 1em;
	border-radius: 1em 0em 0em 1em;
}

.bloc-ecrituredroit{
	margin-top: 1em;
	

}
.bloc-ecrituredroit p{
	margin-top: -1em;
}

.etoilepop{
	
	padding-left: 13em;

}

/*------------------------@Media-------------------*/

@media (max-width: 700px) { 			
  .contenaire {
  	
    flex-direction: column-reverse;
   
    align-content: center;

  }
}
@media (max-width: 700px) {
	.populaire{
		width: 100%;
		height: 80%;
		margin-bottom: 1em;

	}
	.pop{
		height: 90%;
		width: 94%;
	}
	.photopop{
		height: 80%;
		width: 40%;
	}
	

	.etoilepop{
	
	padding-top:  4em;

	}
}

@media (max-width: 700px) {
	 .hebergement{

		width: 100%;
		flex-flow: row wrap;
		margin-bottom: 1em;

	}
}

@media (max-width: 700px) {
	.rubrique {
		text-align: center;
	}
	
}


@media (max-width: 700px) {
	 .marseille{
	 	
	 	width: 94%; 	
	}
	.photo{		
		width: 50%;	
	}
}
.etoile{
	display: flex;
	flex-direction: row;
	justify-content: left;
}


/*---------------FOOTER--------------*/

.fin{
	width: 1200px;
	
	display: flex;
	justify-content: center;
	align-items: flex-start;/* tous aligner en haut*/
	font-size: 20px;
	padding: 0px 0 0px;
} 
footer{		
	width: 100%;
	background:  #F2F2F2;	
}


.foot1, .foot2, .foot3{
	width:33%;
	margin: 0 30px;
}

h3{
	margin-left: 11%;
	font-size: 20px;
}
li{
	list-style-type: none;
	
}
/*----------------------------------------------------------------------*/
