
.entete {
    display: flex;              /* Transformation en flexbox */      
}
nav{
    
    padding-left: 50%;
}

.menu{
    display: flex;              /* Transformation en flexbox */
    justify-content: flex-end;   /* Alignements des liens dans le menu */
}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
}

.menu li a{
	width: 10em;
	display:block;                
}

.menu a:hover { /* survo des liens*/

    color: #0065FC;
    
}/*------------------ Section Filtre------------------------------------*/
.filtre{
	display: flex;
    flex-wrap: wrap;
	margin-bottom: 1em;
	
}
.filtreh2{
	display: flex;
    align-items: center;
	margin-top: 0;
	margin-right: 2em;
	margin-bottom:1em;
	margin-left: 0;   
}

.filtrebloc{
	display: flex;
    align-items: center;
    margin-right: 2em;
    border: 2px solid grey;
    border-radius: 2em;
    margin-bottom: 1em;
    

}

.filtreimage{
	display: flex;
	background-color: #DEEBFF;
	height: 3em;
	width: 3em;
	border-radius: 100%;
	align-items: center;
	justify-content: center;
	margin-left: -.2em;
}

.filtretitre{
	display: flex;
	margin-right: 1em;
	margin-left: 1em;
	font-weight: bold;

}
fa-map-marker-alt{
color: black;
}
.fas{
	color: #0065FC;
}

@media (max-width: 700px) { 
	.filtre{
		flex-direction: column;
		align-items: center;
		
	}

	.filtreh2{
		width: 100%;	
		justify-content: center;
	}
	.filtrebloc{
		width:50%;
	}
}
/*------------------ ----------------------------------------------------*/
/*------------------- Section Hebergement et populaire------------------*/


body{
	
	display: block;
	font-family: Raleway;
	margin-left: 3em;
   
	
		
}



.rubrique, .plus {
	text-align: left;
	width: 100%
}
.contenaire{
	display:flex;
	flex-wrap:wrap;
	flex-direction: row;
	justify-content: space-around;
	
}

.hebergement{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	background-color: #F2F2F2;
	width: 60%;
	height: 70%;
	border-radius: 1em 1em 1em 1em;
	border-color: black;
	margin-left: -4em;

}
.marseille{
	padding:0% 1%;
	background-color: white;
	height: 30%;
	width: 27.5%;
	margin-bottom: 3%;

	border-radius: 1em 1em 1em 1em;
	box-shadow:  8px 8px 6px #F2F2F2;
	cursor: pointer;
	

}
.photo{
	height: 40%;
	width: 100%;
	border-radius: 1em 1em 0em 0em;
	margin-top: -.5em;
}
.bloc-ecriture{
	margin-top: -1em;
}
.bloc-ecriture p{
	margin-top: -1em;
}
.etoile{
	margin-top: -.5em;
	padding-bottom: 1em;
}
.fas{
	
	font-size:15px;

}


.populaire{
	background-color: #F2F2F2;
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;	
	width: 33%;
	height: 85%;
	border-radius: 1em 1em 1em 1em;
	margin-bottom: 1em;


}
.pop{
	padding:0% 1%;
	background-color: white;
	height: 70%;
	margin-bottom: 10%;
	margin-left: 1em;
	margin-right: 1em;
	border-radius: 1em 1em 1em 1em;
	box-shadow:  8px 8px 6px #F2F2F2;
	cursor: pointer;

}
.photopop{
	height: 90%;
	width: 58%;
	float:left;
	margin-bottom: 1em;
	margin-right: 1em;
	border-radius: 1em 0em 0em 1em;
}

.bloc-ecrituredroit{
	margin-top: 1em;
	

}
.bloc-ecrituredroit p{
	margin-top: -1em;
}

.etoilepop{
	
	padding-left: 13em;

}

/*------------------------@Media-------------------*/

@media (max-width: 700px) { 			
  .contenaire {
  	
    flex-direction: column-reverse;
   
    align-content: center;

  }
}
@media (max-width: 700px) {
	.populaire{
		width: 100%;
		height: 80%;
		margin-bottom: 1em;

	}
	.pop{
		height: 90%;
		width: 94%;
	}
	.photopop{
		height: 80%;
		width: 40%;
	}
	

	.etoilepop{
	
	padding-top:  4em;

	}
}

@media (max-width: 700px) {
	 .hebergement{

		width: 100%;
		flex-flow: row wrap;
		margin-bottom: 1em;

	}
}

@media (max-width: 700px) {
	.rubrique {
		text-align: center;
	}
	
}


@media (max-width: 700px) {
	 .marseille{
	 	
	 	width: 94%; 	
	}
	.photo{		
		width: 50%;	
	}
}
.etoile{
	display: flex;
	flex-direction: row;
	justify-content: left;
}
/*----------------------------------------------------------------------*/
/*----------------------------Activité-----------------------------------*/


.grid> div{
	
	
    border-radius: 1em;
	background-color: white;


}
.grid{
    
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr ; 
	grid-template-rows: 1fr 1fr ;
	column-gap: 2%;
	row-gap: 5%;
	margin-bottom: 3em; 
	
	
		
	
	
	
   
}
.children{
	grid-column-start: 1;
	grid-row-start: 1;
	grid-row-end: span 2;
	height: 100%;
	box-shadow:  8px 8px 6px#F2F2F2; 	
}

.children2{
	grid-column-start: 2;
	grid-row-start:1;
	height: 100%;  
	box-shadow:  8px 8px 6px#F2F2F2;   
}

.children3{
	grid-column-start: 3;
	grid-row-start: 1;
	grid-row-end: span 2;
	box-shadow:  8px 8px 6px#F2F2F2; ;
}

.children4{
	grid-column-start: 4;
	grid-row-start: 1;
	height: auto;
	box-shadow:  8px 8px 6px#F2F2F2; 
}
.children5{
	grid-column-start:  2;
	grid-row-start: 2;
	height: auto;
	box-shadow:  8px 8px 6px#F2F2F2; 
}
.children6{
	grid-column-start: 4;
	grid-row-start: 2;
	height: auto;
	box-shadow:  8px 8px 6px#F2F2F2; 
}

.activiteimage{   
    height:80%;  
	
	
}
.activiteimage2{
	height:80%;    	  
}

.activiteimage4{
	height: 100%;	
}

.activiteimage5{
	height: 100%;	
}

.activiteimage6{
	height: 100%;
}


.image13{
    height: 112%;
    width: 100%;   
    object-fit:cover ;
    border-radius: 1em 1em 0 0;   
}



.image2{      
	width: 100%;
	height: 200px;
	object-fit: cover; 
	border-radius: 1em 1em 0 0;	
	cursor: pointer;
}
.image4{
	width: 100%;
	height: 80%;
	object-fit: cover; 
	border-radius: 1em 1em 0 0;
	justify-items: center;
	cursor: pointer;
}

.image5{
	width: 100%;
	height: 80%;
	object-fit: cover; 
	border-radius: 1em 1em 0 0;
	justify-items: center;
	cursor: pointer;
}

.image6{   
    
	width: 100%;
	height: 80%;
	object-fit: cover; 
	border-radius: 1em 1em 0 0;
	cursor: pointer;
	
}
.titreactivite{
	margin-top: 4em;
}

.titreactivite2 {
	margin-top: -1em;
}

.titreactivite4,.titreactivite5,.titreactivite6{
	margin-top:-4em ;
}


@media  (max-width:700px){
	
	.grid{
		
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6,1fr);
		row-gap: 0;		

	}	
	.children{
		
		width: 100%;
		height:30%;
		grid-column-start: 1;
		grid-row-start: 1;
		
		
		
	}
	.children2{
	
		width: 100%;
		height:70%;
		grid-column-start: 1;
		grid-row-start: 2;
		
		
	}
	
	.children3{
		
		width: 100%;
		height:35%;
		grid-column-start: 1;
		grid-row-start: 4;
		
		
		
	}
	.children4{
		
		width: 100%;
		height:75%;
		grid-column-start: 1;
		grid-row-start: 5;
		
		
	}
	.children5{
	
		width: 100%;
		height:75%;
		grid-column-start: 1;
		grid-row-start: 3;
		
		
	}
	
	.children6{
		
		width: 100%;
		height:60%;
		grid-column-start: 1;
		grid-row-start: 6;
		
		
		
	}
	.activiteimage{   
		height:70%;  
		
		
	}
	.titreactivite{
		margin-top: 2em;
		margin-left: 1em;
	}
	.titreactivite2,.titreactivite4, .titreactivite5, .titreactivite6{
		margin-left: 1em;
	}

}


/*---------------FOOTER--------------*/

.fin{
	width: 1200px;
	
	display: flex;
	justify-content: center;
	align-items: flex-start;/* tous aligner en haut*/
	font-size: 20px;
	padding: 0px 0 0px;
} 
footer{		
	width: 100%;
	background:  #F2F2F2;	
}


.foot1, .foot2, .foot3{
	width:33%;
	margin: 0 30px;
}

h3{
	margin-left: 11%;
	font-size: 20px;
}
li{
	list-style-type: none;
	
}
/*----------------------------------------------------------------------*/
